.QuestionList {
  max-height: 400px;
  overflow-y: auto;
  
  .QuestionListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    *:last-child {
      margin: 0 20px;
    }
    
    .QuestionContent {
      flex: 1 0 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.MatchScoreBlock {
  font-size: 20px;
  line-height: 28px;
  text-align: end;
  padding: 10px;
  margin-bottom: 20px;
}